  /* Default CSS
 * -------------------------- */
 h2{
 	font-family: tahoma;
 }

 /*header{
 	background-color: #b01c28; 
 }*/

.wrapper {
	width: 100%;
	background-color:red;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: thin solid #000000;
}

.frontext {
	text-align: center;
}

.clear{
	clear: both;
}

/* TESTING CSS */
header{
	background-color: #b01c28;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
}
header ul{
	text-align: center;
	list-style: none;
}

.frontpic{
	background-image: url("img/");
	background-repeat: no-repeat;
	background-color: blue;
	margin-bottom: 10px;
}

.hvidkasse{
	border: 2px solid black;
	margin-top: 10px;
}


