  /* Default CSS
 * -------------------------- */
 h2{
 	font-family: tahoma;
 }

.wrapper {
width: 100%;
background-color:red;
margin-left: auto;
margin-right: auto;
padding: 0px;
border: thin solid #000000;
}

.frontext {
	text-align: center;
}