  /* Default CSS
 * -------------------------- */
 h2{
 	font-family: tahoma;
 }

 /*header{
 	background-color: #b01c28; 
 }*/

.wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

.frontext {
	text-align: center;
}

.clear{
	clear: both;
}

/* TESTING CSS */
header{
	background-color: #b01c28;
	right: 0 !important;
	left: 0 !important;
}
header ul{
	text-align: center;
	list-style: none;
}

.frontpic{
	background-image: url("img/");
	background-repeat: no-repeat;
	background-color: blue;
}

.trekant img{
	margin: auto;
}

.hvidkasse{
	border: 2px solid black;
	float: none;
	margin: auto;
}

.moenster img{
	margin: auto;
}







